html {
    background: url(themes/base/images/backgroundOne.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*deze shit maakt de background awesome*/

  asfjasfl;asfdl;asdfja;lskdjfasld;fjlaksdfjl;sadjfaklsdjf;ladjsf;lk
      asfjasfl;asfdl;asdfja;lskdjfasld;fjlaksdfjl;sadjfaklsdjf;ladjsf;lk
                   asfjasfl;asfdl;asdfja;lskdjfasld;fjlaksdfjl;sadjfaklsdjf;ladjsf;lk
                                v

                                asfjasfl;asfdl;asdfja;lskdjfasld;fjlaksdfjl;sadjfaklsdjf;ladjsf;lk
                                asfjasfl;asfdl;asdfja;lskdjfasld;fjlaksdfjl;sadjfaklsdjf;ladjsf;lk


}

body {
    background-color:sevsbkvbSKDVBSJ:NDVlkZX 
}