@model IEnumerable<ihff.Models.WishlistItem>

<h1>Wishlist</h1>

<div id="wishlist-wrapper">
    <table id="wishlist-table">
        <thead>
           <tr>
               <th>Activiteit</th>
               <th>Locatie</th>
               <th>Datum/Tijd</th>
               <th>Aantal</th>
               <th>Prijs</th>
           </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.location</td>
                    <td>@item.startTime</td>
                    <td>@item.persons</td>
                    (if item.type == "Movie")
                    {
                        <td>10,00</td>
                    }
                </tr>
            }
            
           <tr>
               <td>Minority Report</td>
               <td>van Beinum zaal</td>
               <td>Woensdag 13:00 - 15:00</td>
               <td>1</td>
               <td>10,00</td>
           </tr>
            <tr>
                <td>Minority Report</td>
                <td>van Beinum zaal</td>
                <td>Woensdag 13:00 - 15:00</td>
                <td>1</td>
                <td>10,00</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Totaal: </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
