@{
    ViewBag.Title = "Films";
}


<body>

    <div class="Forms">
        @Html.BeginForm(){ 
        }
    </div>

    <div class="Lists">  
         <ul>
             <li id="MinorityReport">
                 Minority Report
             </li>
             <li id="Wall-E">
                 Wall-E
             </li>
             <li id="Moon">
                 Moon
             </li>
             <li id="Brazil">
                 Brazil
             </li>
             <li id="eXistenZ">
                 eXistenZ
             </li>
             <li id="SpaceOdyssey">
                 2001: a space odyssey
             </li>
             <li id="Interstellar">
                 Interstellar
             </li>
         </ul>  
    </div>
</body>
