@{
    ViewBag.Title = "Films";
}


<body>

    <div class="Forms">
        @Html.BeginForm(){ 
        }
    </div>

    <div class="Lists">  
         <ul>
             <li>
                 Minority Report
             </li>
             <li>
                 Wall-E
             </li>
             <li>
                 Moon
             </li>
             <li>
                 Brazil
             </li>
             <li>
                 eXistenZ
             </li>
             <li>
                 2001: a space odyssey
             </li>
             <li>
                 Interstellar
             </li>
         </ul>  
    </div>
</body>
